@media screen and (min-width: $viewpoint-threshold)
    .project-area
        max-width: 1000px
        margin: 20px auto
        display: grid    
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
        grid-gap: 30px
        grid-wrap: wrap
        padding-bottom: 100px

@media screen and (max-width: $viewpoint-threshold)
    .project-area
        max-width: 800px
        margin: 20px auto
        display: grid    
        grid-template-columns: auto
        grid-template-rows: auto
        grid-gap: 20px
        padding-bottom: 60px

.project-main
    width: 250px
    height: 250px
    border: solid $project-border-color
    justify-self: center
    margin: auto
    background-size: 100%
    background-repeat: no-repeat
    position: relative
    &:hover
        transform: scale(1.05)
        transition: transform 500ms

.project-title
    width: 80%
    height: auto
    background-color: $project-title-color
    color: $heading-color
    text-align: center
    font-size: 25px
    line-height: 60px
    margin: 15px auto
    text-transform: uppercase
    text-decoration: none 

.project-info
    position: absolute
    text-align: center
    width: 92%
    padding: 10px
    background-color: $project-title-color
    color: $heading-color
    bottom: 0
    font-size: 17px

