%nav.navbar  
  %a{href: "#top", class: "fas fa-arrow-up fa-2x"}
  %a{href: "#projects", class: "fas fa-project-diagram fa-2x"}
  %a{href: "#about", class: "fas fa-file-alt fa-2x"}
%header.masthead#top
%section.myContainer#projects
  = partial 'partials/projects'
%section.myContainer#about 