%nav.navbar.nav-transparent 
  %a{href: "#top", class: "fas fa-arrow-up fa-2x"}
  %a{href: "#projects", class: "fas fa-project-diagram fa-2x"}
  %a{href: "#about", class: "fas fa-file-alt fa-2x"}
%header.masthead#top
  .title
    %h1#borjessons borjessons
%section.myContainer#projects
  = partial 'partials/projects'
%section.myContainer#about 